nav{
    background: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li{
    display: inline;
    margin: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: solid;
    font-size: 18px;
    font-weight: bold;
}
nav ul li a:hover{
    color: #f4a261;
}
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding-top: 50px;
    text-align: center;
    background: color #f4f4f4;
}
header{
    background: #333;
    color: white;
    padding: 20px;
}
.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: solid white;
    margin-top: 10px;
}
section{
    padding-top: 100px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    transition: transform 0.3s ease-in-out;
}
section :hover{
    transform: scale(1.02);
    
}
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: row ;
        align-items: center;
        padding: 10px 0;
        justify-content: space-around;
        gap: 10px;
    }
    nav ul li{
        display: inline;
     
    }
}
@media (max-width: 768px) {
    section{
        width: 90%;
        padding: 15px;
    }
    h1{
        font-size: 24px;
        font-weight: bold;
    }
    h2{
        font-size: 20px;
        color: #333;
        text-transform: uppercase;
    }
    p{
        font-size: 16px;
        color: #555;
        line-height: 1.6;
    }
    #theme-toggle{
        margin-top:22.5px;
}
#projects{
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9;
}
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: white;
    padding: 20px;
    margin:20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    max-width: 80%;
    transition: transform 0.3s ease-in-out;

}
.project:hover{
    transform: scale(1.03);
}
.project img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    
}
.project-info{
    text-align: left;
    max-width: 500px;
}
.project-info h3{
    font-size: 22px;
    margin: 0 0 10px;
}
.project-info p{
    font-size: 15px;
    color: #555;
}
.btn{
    display: inline-block;
    padding: 8px 16px;
    background: #333;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s;
}
.btn:hover{
    background: #f4a261;
    transform: scale(1.02);
}
@media (max-width: 768px) {
    .project{
        flex-direction: column;
        text-align: center;
    }
    .project img{
        width: 100%;
        height: auto;
    }.project-info{
        text-align: center;
    }
}
footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    border-radius: 10px;
}
.social-links{
    margin-top: 10px;
}
.social-links a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}
.social-links a:hover{
    rotate: 2deg;
    color: #f4a261;
}
.dark-mode{
    background-color: #1e1e1e;
    color: white;
}
.dark-mode header,
.dark-mode footer,
.dark-mode nav{
    background: #222;
}
.dark-mode section{
    background:#333;
    color: white;
}
.dark-mode #projects{
    background-color:#222;
    color: white;
}
.dark-mode .project{
    background-color: #222;
    color: white;
}
@media (max-width: 768px) {
    .dark-mode h1,
    .dark-mode h2,
    .dark-mode p,
    .dark-mode ul li{
        color: white;
    }
}
#theme-toggle{
    display:inline-block;
    padding: 8px 10px;
    border-radius: 5px;
    background:#333;
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 5px;
}
#theme-toggle:hover{
    transform: scale(1.05);
    
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: auto;
}
input,textarea{
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
}
button{
    display: inline;
    background: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
button:hover{
    background: #f4a261;
    
}
.dark-mode button{
    color:white;
    background: #555;
}
.dark-mode button:hover{
    background: #f4a261;
}
#scroll-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s,transform 0.3s;
    padding: 10px 15px;

}
#scroll-top:hover{
    background: #f4a261;
    transform: scale(1.1);
}
#typing-text{
    font-size: 32px;
    font-weight: bold;
    color: #f4a261;
    display: inline-block;
    border-right: 5px solid white;
    padding-right: 5px;
    overflow: hidden;
    animation: blink 0.7s infinite;
    white-space: nowrap;
}
@keyframes blink{
    50%{border-color: transparent;}
}
